[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "*"
autopep8 = "*"
beautifulsoup4 = "*"
bootstrap4 = "*"
boto3 = "*"
botocore = "*"
crispy-bootstrap5 = "*"
dj-database-url = "*"
Django = "*"
django-bootstrap = "*"
django-bootstrap-v5 = "*"
django-bootstrap5 = "*"
django-crispy-forms = "*"
django-environ = "*"
django-heroku = "*"
django-seed = "*"
django-storages = "*"
django-widget-tweaks = "*"
Faker = "*"
gunicorn = "*"
jmespath = "*"
path.py = "*"
Pillow = "*"
postgres = "*"
psycopg2 = "*"
psycopg2-binary = "*"
psycopg2-pool = "*"
pycodestyle = "*"
python-dateutil = "*"
pytz = "*"
s3transfer = "*"
seed = "*"
six = "*"
soupsieve = "*"
sqlparse = "*"
text-unidecode = "*"
toml = "*"
toposort = "*"
urllib3 = "*"
whitenoise = "*"

[dev-packages]

[requires]
python_version = "3.9"
