[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-storages = "*"
boto3 = "*"
seed = "*"
django-seed = "*"
django-crispy-forms = "*"
django-heroku = "*"
gunicorn = "*"
django-environ = "*"
dj-database-url = "*"
Pillow = "*"

asgiref = "*"
autopep8 = "*"
beautifulsoup4 = "*"
botocore = "*"
django-crispy-forms = "*"

django-storages = "*"
django-widget-tweaks = "*"


jmespath = "*"
path.py = "*"

postgres = "*"
psycopg2 = "*"
psycopg2-binary = "*"
psycopg2-pool = "*"
pycodestyle = "*"
python-dateutil = "*"
pytz = "*"
s3transfer = "*"
six = "*"
soupsieve = "*"
sqlparse = "*"
text-unidecode = "*"
toml = " = "*"
urllib3 = "*"
whitenoise = "*"

[dev-packages]

[requires]
python_version = "3.9"
