/* GLOBAL */
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Quicksand&display=swap");

body {
  background-color: black;
  color: white;
}

/* NAV */
.nav-bar {
  font-size: 20px;
  display: flex;
  justify-content: space-evenly;
  padding: 14px 16px;
}

.splash-link {
  text-decoration: none;
  color: white;
  font-family: Quicksand;
}

/* SPLASH PAGE */
.splash-h1 {
  left: 0;
  margin-top: -280px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
  font-family: pacifico, sans-serif;
  font-size: 50px;
  color: white;
}

.splash-image {
  object-fit: contain;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -10em;
  width: 30%;
  height: 30%;
}

/* SPLASH PAGE: SEARCH BAR */
.search-form {
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.query {
  border-radius: 40px;
  width: 400px;
  height: 40px;
}

/* .search-box {
  background: grey;
  position: relative;
  padding: 15px;
  border-radius: 40px;
  display: flex;
} */

/* ================================================================= */
/* PROJECT LIST PAGE */

.project-h1 {
  left: 0;
  margin-top: -300px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
  font-family: pacifico, sans-serif;
  font-size: 50px;
  color: white;
}

/* PROJECT CARDS */
.card {
  width: 20%;
  display: flex;
  flex-direction: column;
}

.header {
  height: 20%;
  background: rgb(78, 75, 75);
  color: black;
  text-align: center;
}

.container {
  padding: 2px 16px;
  background-color: white;
}
