/* GLOBAL */
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Quicksand&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Quicksand&display=swap');

body {
  background-color: black;
  color: white;
}

/* NAV */
.nav-bar {
  font-size: 20px;
  display: flex;
  justify-content: space-evenly;
  padding: 14px 16px;
}

.splash-link {
  text-decoration: none;
  color: white;
  font-family: Quicksand;
}

/* SPLASH PAGE */
.splash-h1 {
  left: 0;
  margin-top: -280px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
  font-family: pacifico, sans-serif;
  font-size: 50px;
  color: white;
}

.splash-image {
  object-fit: contain;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -10em;
  width: 30%;
  height: 30%;
}

/* SPLASH PAGE: SEARCH BAR */
.search-form {
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.query {
  border-radius: 40px;
  width: 400px;
  height: 40px;
  text-indent: 15px;
  border: .7px solid #E4E4E4; 
  box-shadow:0px 1px 4px #E4E4E4;  
}



/* ================================================================= */
/* PROJECT LIST PAGE */

.project-h1 {
  left: 0;
  margin-top: -300px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
  font-family: pacifico, cursive;
  font-size: 50px;
  color: white;
}

/* PROJECT CARDS */

.container {
  position: relative;
  display: inline-block;
  flex-direction: row;
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;


  max-width: 800px;
  max-height: 800px;
  margin: 0 auto;
  margin-top: 30vh;
  border: 1px solid white;
  border-radius: 20px;
  background-color: white;
  color: black;

}

.card-details {
  padding: 10px;
  text-align: justify;
  text-justify: inter-word;
}

.card-h1 {
  text-transform: uppercase;
}

.card-p, .tags {
  color: grey;
}

/* ======================================== */
/* PROFILE PAGE */

.profile-user-h1 {
  font-family: pacifico, cursive;
  font-size: 70px;
  text-align: center;
}



.profile-container {
  object-fit: contain;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
  width: 700px;
  height: 300px;
  border-radius: 40px;
}

.profile-img {
  float: left;
  margin-top: 10px;
  border-radius: 60%;
  clip-path: circle();

}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.user-extras {
  padding: 20px
}
