{% extends 'base.html' %} {% load static %} {% block content %}
<h1>Hello {{user.username}}</h1>
<img style="max-width: 200px"src="{{ profile.image.url }}"
        
<p>{{profile.name}}</p>
<p>{{profile.email}}</p>
<p>{{profile.bio}}</p>
<p>{{profile.skills}}</p>


<p>{{profile.github}}</p>
<p>{{profile.site_link}}</p>



<!-- UPDATE PROFILE -->
{% if user.username == profile.user.username %}
 <a class="splash-link" href="{% url 'project_create' %}">Add Project</a>
<a href="{% url 'profile_update' user.pk %}">Edit Profile</a>
<!-- Projects-->
<h2>My Projects </h2>
<ul>
  {% for project in profile.project_set.all  %}
  <li><a href="{% url 'project_detail' project.pk %}">
  {{ project.title }}
  </li>
</ul>
{% endfor %}



{% endif %}
{% endblock %}
