{% extends 'base.html' %} {% block content %}
<h1 class="project-h1">Projects from Devs</h1>


  {% for project in projects %}

<!-- Project Cards -->
{% comment %} <div class="card">
        <div class="header">
            <p><a href="{% url 'project_detail' project.pk %}"</a>{{ project.title }}</p>
        </div>
            <div class="container">
            <p>{{ project.description }}</p>
        </div>
    </div>
</div> {% endcomment %}

<div class="container">
  <div class="card">
    <img src="{{ profile.image }}">
  </div>
    <div class="card-details">
        <h1 class="card-h1">{{ project.title }}</h1>
        <p class="card-p">{{ project.description }}</p>
        <span class="tags">Skills:{{ project.skills }}</span>
        <p class="card-p">Github:{{ project.github_link }}</p>
        <p class="card-p">Website:{{ project.site_link }}</p>
    </div>
</div>

{% endfor %} {% endblock %}
 