{% extends 'base.html' %} {% block content %} {% if user.is_authenticated %} 
{%if user.profile == project.profile %}
<h1 class="update-h1">Update "{{project.title}}"</h1>


  <div class="form-group" class="form-group">
  <form class="form-update" action="" method="post">
      {% csrf_token %}
      <table>
   {{ form.as_table }}
   </table>
  <div class="sub-bttn">
    <button type="submit" class="btn btn-secondary" class="update-sub">Submit</button>
  </div>
  </form>
  </div>
  


{% else %} Sorry, only users can edit! {% endif %} {% else %} Sorry, only users
can edit! {% endif %} {% endblock %}


    