{% extends 'base.html' %} {% block content %} {% if user.is_authenticated %} 
{%if user.profile == project.profile %}
<h1 class="update-h1">Update "{{project.title}}"</h1>


  <div class="form-group" class="form-group">
  <form class="form-update" action="" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-secondary" class="update-sub">Submit</button>
  </form>
  </div>
  


{% else %} Sorry, only users can edit! {% endif %} {% else %} Sorry, only users
can edit! {% endif %} {% endblock %}

 {% comment %}
    <div class="form-title">{{ form.title }}</div>
    <div class="form-title">{{ form.description }}</div>
    <div class="form-title">{{ form.skills }}</div>
    <div class="form-title">{{ form.github_link }}</div>
    <div class="form-title">{{ form.site_link }}</div>
    {% endcomment %}

{% comment %} <input class="update-submit" type="submit" value="Submit" />  {% endcomment %}
    