{% extends 'base.html' %} {% block content %}

{% url 'project_detail' project.pk %}

<h1 class="project-det-title">{{project.title}}</h1>
<div class="det-container">

    <div class="project-dets">
    <p class="p-reg">Description</p>
    <p class="project-det">{{project.description}}</p>
    <p class="p-reg">Tech Used</p>
    <p class="project-det">{{project.tech_used}}</p>
    <p class="p-reg">Project Sites</p>
    <p class="project-det">{{project.github_link}}</p>
    <p class="project-det">{{project.site_link}}</p>
    <p class="p-reg">Created</p>
    <p class="project-det">{{project.created}}</p>
    </div>
</div>

<!-- UPDATE AND DELETE POST-->
{% if user.is_authenticated %}
{% if user.profile == project.profile %}
<div class="edit1">
<a class="project-buttons1" href="{% url 'project_update' project.pk %}">EDIT</a>
</div>
<div class="delete1">
<a class="project-buttons2" href="{% url 'project_delete' project.pk %}">DELETE</a>
</div>
{% endif %}
{% endif %}
</div>
{% endblock %}
